<div class="cotainer">
    <div class="row">
        <div class="col-md-offset-4 col-md-6">
            <p>紹介ページ</p>
            <%= link_to "サインアップ", new_user_registration_path %>
        </div>
    </div>
</div>


