/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    padding: 0;
    margin: 0;
}

/*------ヘッダー操作------*/

/*ページと共に動くヘッダー*/
header {
    width: 100%; /* 幅はマックス*/
    top: 0; /*　常にページ上部に固定　*/
    z-index: 1; /* bodyとheaderの重なり*/
    position: fixed; /*headerの固定*/
    background-color: #0457CC;
}

/* ヘッダーのリストの並びを整える */
header li {
    display: flex;
    list-style: none;
}

/* リストを右に寄せる */
.navbar-nav {
    margin: 0 0 0 auto;
}

/* link_toの下線消しと色づけ */
.nav-custom {
    text-decoration: none;
    color:azure;
}

/* 触れた時の色と下線消し */
.nav-custom:hover {
    text-decoration: none;
    color: #C8CBDE;
}
/* 終わり */

/*------body操作------*/

/*headerとbodyの重なり*/
body {
    margin-top: 5%; /* 重なりを意識したmargin */
    z-index: auto;
    font-family: 'Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic';
}

body h1{
    cursor: default;
}

body h2{
    cursor: default;
}

body h3{
    cursor: default;
}