// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*-------------lecture/index.html--------------*/

// 講義名などの下線消しとマウスオーバーの色づけ
.lec-content {
    color: black;
}

.lec-content:hover {
    text-decoration: none;
    color: #CC2C18;
}


.sort-check {
    margin-top: 2%;
    position: fixed;
}

.checkbox {
    transform: scale(1.8);
}

.lecture-index {
    margin-top: 2%;
    margin-left: 40%;
}

/*-------------lecture/show.html--------------*/

.lec-show {
    padding: 0.5em 1em;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.comments {
    padding: 0.5em 1em;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.comment-box:hover {
    background-color: #f5f5f5;
}